<div class="hero-unit">
  <h2>All EspecialidadProfiles</h2>
  <%- linkTo('Create a new EspecialidadProfile', addEspecialidadProfilePath, {class: 'btn pull-right'}); %>
</div>

<div id="especialidadProfiles-list">
<% if (especialidadProfiles) { %>
<% for (var i = 0, ii = especialidadProfiles.length; i < ii; i++) { %>
  <div class="row list-item" id="especialidadProfile-<%= especialidadProfiles[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(especialidadProfiles[i].epNombre, especialidadProfilePath(especialidadProfiles[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= especialidadProfiles[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>