<div class="control-group">
  <label for="catNombre" class="control-label">Nombre</label>
  <div class="controls">
    <%- contentTag('input', categoriaProfile.catNombre, {type:'text', class:'span6', name:'catNombre'}) %>
  </div>
</div>
<div class="control-group">
  <label for="catCATID" class="control-label">CATID</label>
  <div class="controls">
    <%- contentTag('input', categoriaProfile.catCATID, {type:'text', class:'span6', name:'catCATID'}) %>
  </div>
</div>
<div class="control-group">
  <label for="catDescripcion" class="control-label">Descripcion</label>
  <div class="controls">
    <%- contentTag('textarea', categoriaProfile.catDescripcion, {class: 'span6', name: 'catDescripcion', rows: 10}) %>
  </div>
</div>
<div class="control-group">
  <label for="catEstado" class="control-label">Estado</label>
  <div class="controls">
    <%- selectTag(['Activo','Inactivo'], categoriaProfile.catEstado, {type:'text', class:'span6', name:'catEstado'}) %>
  </div>
</div>
