<div class="hero-unit">
  <h2>All CategoriaProfiles</h2>
  <%- linkTo('Create a new CategoriaProfile', addCategoriaProfilePath, {class: 'btn pull-right'}); %>
</div>

<div id="categoriaProfiles-list">
<% if (categoriaProfiles) { %>
<% for (var i = 0, ii = categoriaProfiles.length; i < ii; i++) { %>
  <div class="row list-item" id="categoriaProfile-<%= categoriaProfiles[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(categoriaProfiles[i].catNombre, categoriaProfilePath(categoriaProfiles[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= categoriaProfiles[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>