<div class="hero-unit">
  <h2>All RegionProfiles</h2>
  <%- linkTo('Create a new RegionProfile', addRegionProfilePath, {class: 'btn pull-right'}); %>
</div>

<div id="regionProfiles-list">
<% if (regionProfiles) { %>
<% for (var i = 0, ii = regionProfiles.length; i < ii; i++) { %>
  <div class="row list-item" id="regionProfile-<%= regionProfiles[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(regionProfiles[i].rgNombre, regionProfilePath(regionProfiles[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= regionProfiles[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>