<div class="control-group">
  <label for="pttDia" class="control-label">pttDia</label>
  <div class="controls">
    <%- contentTag('input', profesionalTimeTable.pttDia, {type:'text', class:'span6', name:'pttDia'}) %>
  </div>
</div>
<div class="control-group">
  <label for="pttPSID" class="control-label">pttPSID</label>
  <div class="controls">
    <%- contentTag('input', profesionalTimeTable.pttPSID, {type:'text', class:'span6', name:'pttPSID'}) %>
  </div>
</div>
<div class="control-group">
  <label for="pttInicio1" class="control-label">pttInicio1</label>
  <div class="controls">
    time
  </div>
</div>
<div class="control-group">
  <label for="pttFinal1" class="control-label">pttFinal1</label>
  <div class="controls">
    time
  </div>
</div>
<div class="control-group">
  <label for="pttInicio2" class="control-label">pttInicio2</label>
  <div class="controls">
    time
  </div>
</div>
<div class="control-group">
  <label for="pttFinal2" class="control-label">pttFinal2</label>
  <div class="controls">
    time
  </div>
</div>
